@model TwonCinema.Areas.Admin.Models.Category_Materials

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Category_Materials</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image_Selected" class="control-label"></label>
                <input asp-for="Image_Selected" class="form-control" />
                <span asp-validation-for="Image_Selected" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image_Checked" class="control-label"></label>
                <input asp-for="Image_Checked" class="form-control" />
                <span asp-validation-for="Image_Checked" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Count_Cell" class="control-label"></label>
                <input asp-for="Count_Cell" class="form-control" />
                <span asp-validation-for="Count_Cell" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level" class="control-label"></label>
                <input asp-for="Level" class="form-control" />
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
