<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords"
      content="">
<meta name="description"
      content="">
<meta name="robots" content="noindex,nofollow">
<title> @ViewBag.Title | Cinema</title>
<link rel="canonical" href="https://www.wrappixel.com/templates/materialpro-lite/" />
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" href="~/admin-asset/assets/images/favicon.png">
<!-- chartist CSS -->
<link href="~/admin-asset/assets/plugins/chartist-js/dist/chartist.min.css" rel="stylesheet">
<link href="~/admin-asset/assets/plugins/chartist-js/dist/chartist-init.css" rel="stylesheet">
<link href="~/admin-asset/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
<!--This page css - Morris CSS -->
<link href="~/admin-asset/assets/plugins/c3-master/c3.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="~/admin-asset/asset/css/style.min.css" rel="stylesheet">
<Link rel="stylesheet" href="~/admin-asset/asset/css/icons/font-awesome/css/fontawesome-all.min.css">
<link rel="stylesheet" href="~/admin-asset/asset/css/icons/material-design-iconic-font/css/material-design-iconic-font.min.css" />
<link rel="stylesheet" href="~/admin-asset/asset/css/icons/material-design-iconic-font/css/materialdesignicons.min.css" />
<link rel="stylesheet" href="~/admin-asset/asset/css/icons/material-design-iconic-font/css/material-design-iconic-font.css" />
<link rel="stylesheet" href="~/admin-asset/asset/css/icons/themify-icons/themify-icons.css" />
<link rel="stylesheet" href="~/admin-asset/asset/css/icons/simple-line-icons/css/simple-line-icons.css" />
<link rel="stylesheet" href="~/admin-asset/asset/css/icons/weather-icons/css/weather-icons.min.css" />
<link rel="stylesheet" href="~/admin-asset/assets/plugins/bootstrap/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"/>
<script src="~/admin-asset/assets/plugins/jquery/dist/jquery.slim.min.js"></script>
