<aside class="left-sidebar" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <!-- User Profile-->
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-area="Admin" asp-controller="Home" asp-action="Index" aria-expanded="false">
                        <i class="mdi mr-2 mdi-gauge"></i><span class="hide-menu">Tổng Quan</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-area="Admin" asp-controller="Stafs" asp-action="Index" aria-expanded="false">
                        <i class="mdi mr-2 mdi-format-list-bulleted"></i><span class="hide-menu">Quản Lí Nhân Viên</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-area="Admin" asp-controller="Cinemas" asp-action="Index" aria-expanded="false">
                        <i class="mdi mr-2 mdi-newspaper"></i><span class="hide-menu">Quản Lí Rạp Phim</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-area="Admin" asp-controller="Rooms" asp-action="Index" aria-expanded="false">
                        <i class="mdi mr-2 mdi-home"></i><span class="hide-menu">Quản Lí Phòng</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-area="Admin" asp-controller="Seat_Level" asp-action="Index" aria-expanded="false">
                        <i class="mdi mr-2 mdi-format-list-bulleted"></i><span class="hide-menu">Quản Lí Loại Ghế</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-area="Admin" asp-controller="Movies" asp-action="Index" aria-expanded="false">
                        <i class="mdi mr-2 mdi-format-list-bulleted"></i><span class="hide-menu">Quản Lí Phim</span>
                    </a>
                </li>

            </ul>

        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
    <div class="sidebar-footer">
        <div class="row">
            <div class="col-4 link-wrap">
                <!-- item-->
                <a href="" class="link" data-toggle="tooltip" title="" data-original-title="Settings">
                    <i class="ti-settings"></i>
                </a>
            </div>
            <div class="col-4 link-wrap">
                <!-- item-->
                <a href="" class="link" data-toggle="tooltip" title="" data-original-title="Email">
                    <i class="mdi mdi-gmail"></i>
                </a>
            </div>
            <div class="col-4 link-wrap">
                <!-- item-->
                <a href="" class="link" data-toggle="tooltip" title="" data-original-title="Logout">
                    <i class="mdi mdi-power"></i>
                </a>
            </div>
        </div>
    </div>
</aside>