@model TwonCinema.Areas.Admin.Models.Cinema

@{
    ViewData["Title"] = "Thêm Rạp";
}


<center><h1>Thêm Rạp</h1></center>

<hr />
<div class="row">
    <div class="col-md">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Tên:</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Địa Chỉ:</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Đường Dây Nóng:</label>
                <input asp-for="Hotline" class="form-control" />
                <span asp-validation-for="Hotline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Nhân Viên Quản Lí:</label>
                <select asp-for="Manager_ID" class="form-control" asp-items="ViewBag.Manager_ID"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Trạng Thái:</label>
                <select asp-for="Status" class="form-control">
                    <option value="1">Kích Hoạt</option>
                    <option value="0">Không Kích Hoạt</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-outline-success text-success btn-block" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-success text-success btn-block">Trở Về</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
