@model TwonCinema.Areas.Admin.Models.Category_Equipment

@{
    ViewData["Title"] = "Thêm Trang Thiết Bị";
}


<center><h1>Thêm Trang Thiết Bị</h1></center>

<hr />
<div class="row">
    <div class="col-md">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Tên:</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="ful" name="ful" />
                <label class="custom-file-label" for="ful">Choose image</label>
            </div>
            <div class="form-group">
                <img id="imgPre" src="~/admin-asset/noimage.png" alt="no image" class="img-thumbnail" style="max-width:300px" />
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="ful_selected" name="ful_selected" />
                <label class="custom-file-label" for="ful_selected">Choose image selected</label>
            </div>
            <div class="form-group">
                <img id="imgPre_selected" src="~/admin-asset/noimage.png" alt="no image" class="img-thumbnail" style="max-width:300px" />
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="ful_checked" name="ful_checked" />
                <label class="custom-file-label" for="ful_checked">Choose image checked</label>
            </div>
            <div class="form-group">
                <img id="imgPre_checked" src="~/admin-asset/noimage.png" alt="no image" class="img-thumbnail" style="max-width:300px" />
            </div>
            <div class="form-group">
                <label class="control-label">Số Chổ:</label>
                <input asp-for="Count_Cell" class="form-control" />
                <span asp-validation-for="Count_Cell" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Giá:</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Loại Trang Thiết Bị:</label>
                <select asp-for="Level" class="form-control">
                    <option value="1">Ghế</option>
                    <option value="2">Màn Hình</option>
                </select>
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Trạng Thái:</label>
                <select asp-for="Status" class="form-control">
                    <option value="1">Kích Hoạt</option>
                    <option value="0">Không Kích Hoạt</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-outline-success text-success btn-block" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-success text-success btn-block">Trở Về</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function readURL(input, idImg) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $(idImg).attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }

        $("#ful").change(function () {
            readURL(this, '#imgPre');
        });

        $("#ful_selected").change(function () {
            readURL(this, '#imgPre_selected');
        });

        $("#ful_checked").change(function () {
            readURL(this, '#imgPre_checked');
        });

    </script>
}
