@model TwonCinema.Areas.Admin.Models.Category_Equipment

@{
    ViewData["Title"] = "Delete";
}
@{
    Random random = new Random();
    int rand = random.Next(1000);
}
<center>
    <h1>Xóa Trang Thiết Bị</h1>
</center>
<h3>Bạn có chắc muốn xóa trang thiết bị này?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tên:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Hình Ảnh:
        </dt>
        <dd class="col-sm-10">
            <img src="~/Uploads/Category_Equipment/@Model.Image?@rand" style="max-height:30px" />
        </dd>
        <dt class="col-sm-2">
            Hình Ảnh Khi Đang Được Chọn:
        </dt>
        <dd class="col-sm-10">
            <img src="~/Uploads/Category_Equipment/@Model.Image_Selected?@rand" style="max-height:30px" />
        </dd>
        <dt class="col-sm-2">
            Hình Ảnh Khi Đã Được Chọn:
        </dt>
        <dd class="col-sm-10">
            <img src="~/Uploads/Category_Equipment/@Model.Image_Checked?@rand" style="max-height:30px" />
        </dd>
        <dt class="col-sm-2">
            Số Chổ:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Count_Cell)
        </dd>
        <dt class="col-sm-2">
            Giá:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            Loại Trang Thiết Bị:
        </dt>
        <dd class="col-sm-10">
            @if (Model.Level == 1)
            {
                <p>Kinh Doanh</p>
            }
            else if (Model.Level == 2)
            {
                <p>Không Kinh Doanh</p>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Status == 1)
            {
                <p>Kích Hoạt</p>
            }
            else
            {
                <p>Không Kích Hoạt</p>
            }
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Xóa" class="btn btn-outline-danger text-danger btn-block" /> <br />
        <a asp-action="Index" class="btn btn-outline-success text-success btn-block">Trở Về</a>
    </form>
</div>
