@model TwonCinema.Areas.Admin.Models.Movie_Show

@{
    ViewData["Title"] = "Sửa Lịch Chiếu";
}

<center>
    <h1>Sửa Lịch Chiếu</h1>
</center>
<hr />
<div class="row">
    <div class="col-md">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label class="control-label">Thời Gian Bắt Đầu:</label>
                <input asp-for="Start_Show" readonly class="form-control" />
                <span asp-validation-for="Start_Show" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Room_ID" />
            <input type="hidden" asp-for="Movie_ID" />
            <div class="form-group">
                <label class="control-label">Trạng Thái:</label>
                <select asp-for="Status" class="form-control">
                    <option value="1">Kích Hoạt</option>
                    <option value="0">Không Kích Hoạt</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sửa" class="btn btn-outline-success text-success btn-block" />
            </div>
        </form>
    </div>
</div>

<div>
    <form asp-area="Admin" asp-controller="Movie_Show" asp-action="Index" method="get">
        <input type="hidden" name="idCinema" value="@Model.Room.Cinema_ID" />
        <input type="hidden" name="date" value="@Model.Start_Show" />
        <button type="submit" class="btn btn-outline-secondary text-secondary btn-block">Trở Về</button>
    </form>
</div>>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
