<section class="w3l-header-6-main mobile-header">
    <div class="header-section-hny">
        <div class="header-top">
            <div class="container">
                <div class="header-inn-top row">
                    <div class="logo-brand col-6">
                        <a class="navbar-brand" href="index.html">
                            <img src="~/client-asset/assets/images/logo2.png" alt="" title="Webzine" style="max-height:30px;width:100%;" />
                        </a>
                    </div>
                    <div class="menu-overlay-left col-6 ml-auto">
                        <div class="two-pops d-flex">
                            <a href="login.html" class="author-user">
                                <span class="fa fa-user"
                                      aria-hidden="true"> Đăng Nhập</span>
                            </a>
                            <div class="overlay-menuv-hny">
                                <input type="checkbox" id="op" />
                                <div class="side-menu-hny">
                                    <label for="op" class="menuopen">
                                        <span class="fa fa-bars" aria-hidden="true"> Menu</span>
                                    </label>
                                </div>
                                <div class="overlay-menuv overlay-menuv-hugeinc">
                                    <label for="op" class="menuclose">
                                        <span class="fa fa-times"
                                              aria-hidden="true"></span>
                                    </label>
                                    <div class="side-show-content text-left">

                                        <div class="quick-links-side gap-top">
                                            <h3 class="side-title"><a href="about.html">Về Chúng Tôi</a></h3>
                                            <p>
                                                MN Cinema là rạp phim giá rẻ dành cho sinh viên
                                            </p>

                                        </div>

                                        <div class="quick-links-side gap-top">
                                            <h3 class="side-title"><a href="index.html">Trang Chủ</a></h3>
                                            <h3 class="side-title">Phim</h3>
                                            <ul>
                                                <li><a href="phim-dang-chieu.html">Phim Đang Chiếu</a></li>
                                                <li><a href="phim-sap-chieu.html">Phim Sắp Chiếu</a></li>

                                            </ul>
                                        </div>
                                        <div class="quick-links-side gap-top">
                                            <h3 class="side-title">Sự Kiện</h3>
                                            <ul>
                                                <li><a href="event.html#parentHorizontalTab1">Ưu Đãi</a></li>
                                                <li><a href="event.html#parentHorizontalTab2">Đánh Giá Phim</a></li>

                                            </ul>
                                        </div>
                                        <div class="quick-links-side follow-us gap-top">
                                            @*<h3 class="side-title"><a href="asdasd">Thành Viên</a></h3>*@

                                            <h3 class="side-title"><a href="contact.html">Liên Hệ</a></h3>
                                            <h3 class="side-title">Mạng Xã Hội</h3>
                                            <ul class="social-icons-top">
                                                <li>
                                                    <a class="facebook" href="#">
                                                        <span class="fa fa-facebook"
                                                              aria-hidden="true"></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="twitter" href="#">
                                                        <span class="fa fa-twitter"
                                                              aria-hidden="true"></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="google" href="#">
                                                        <span class="fa fa-google-plus"
                                                              aria-hidden="true"></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="instagram" href="#">
                                                        <span class="fa fa-instagram"
                                                              aria-hidden="true"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="mobile-position">
                                            <nav class="navigation">
                                                <div class="theme-switch-wrapper">
                                                    <label class="theme-switch" for="checkbox">
                                                        <input type="checkbox" id="checkbox" />
                                                        <div class="mode-container">
                                                            <i class="gg-sun"></i>
                                                            <i class="gg-moon"></i>
                                                        </div>
                                                    </label>
                                                </div>
                                            </nav>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header class="header-hny-block">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/" style="color: var(--theme-title);">Trang Chủ</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: var(--theme-title);">
                                Phim
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-controller="Movies" asp-action="NowShowing">Phim Đang Chiếu</a>
                                <a class="dropdown-item" asp-controller="Movies" asp-action="ComingSoon">Phim Sắp Chiếu</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="lifestyle.html" style="color: var(--theme-title);">Hệ Thống Rạp</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="About" style="color: var(--theme-title);">Về Chúng Tôi</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Contact" style="color: var(--theme-title);">Liên Hệ</a>
                        </li>
                    </ul>
                    <div class="social-right">
                        <ul class="social-icons-top">
                            <li>
                                <a class="facebook" href="#">
                                    <span class="fa fa-facebook"
                                          aria-hidden="true"></span>
                                </a>
                            </li>
                            <li>
                                <a class="twitter" href="#">
                                    <span class="fa fa-twitter"
                                          aria-hidden="true"></span>
                                </a>
                            </li>
                            <li>
                                <a class="google" href="#">
                                    <span class="fa fa-google-plus"
                                          aria-hidden="true"></span>
                                </a>
                            </li>
                            <li>
                                <a class="instagram" href="#">
                                    <span class="fa fa-instagram"
                                          aria-hidden="true"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
</section>